* {
    text-align: center;
    font-family: 'Rubik', sans-serif;
    color: white;
}

body {
    background: #000000;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #2c2c2c, #000000);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #2c2c2c, #000000); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */


    #container {
        width: 60vw;
        height:50vh;
        margin: auto;
        margin-top: 10vh;
        padding-top: 1vh;
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
        border-radius: 10px;

        #question-container {
            padding: 3vh ;
        }

        button {
            background-color:rgb(32, 32, 32);
            border: 1px solid white;
            border-radius: 5px;
            padding: 10px 0;
            width: 85%;
            margin: auto;
            margin-bottom: 15px;
            cursor: pointer;
            outline: none;
            
            &:hover {
                background-color:rgba(136, 136, 148, 0.3)
            }

        }            

    }

    #feedback-container {
        position: relative;
        top: 5vh;
    }
}